body {
	background-color: deeppink !important;
}

h1 {
  color: #7FFF00 !important;
  margin-left: 20px;
}

.center {
    text-align: center;
    align-items: center;
    align-content: center;

}

.dot {
  height: 500px;
  width: 500px;
  background-color: lightblue;
  border-radius: 50%;
  display: inline-block;
}

p {
  font-size: 4rem;
}